.btn {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  color: rgb(44, 163, 202);
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
}

.btn:hover {
  background-color: transparent;
}
