* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.25%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid rgba(134, 132, 132, 0.575);
  border-collapse: collapse;
  text-align: center;
}

tr {
  font-size: 4rem;
  border-bottom: 1px solid rgba(134, 132, 132, 0.575);
  line-height: 6rem;
}

.add-btn {
  background-color: #f5f6f7;
  color: #357BC0;
  border: none;
  width: 15rem;
  font-size: 2rem;
  padding: 1rem;
}

.header {
  height: 8rem;
  background-color: #E2EBF7;
  color: #666563;
}

td>button {
  border: none;
  background: none;
  color: #357BC0;
  cursor: pointer;
}

.delete-btn,
#input__closeBtn {
  margin-left: 15px;
}

td {
  width: 15rem;
}
